.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #65269d;
}

.footer-privacy {
  text-align: center;

  &-text {
    margin-top: $margin;
    margin-bottom: $margin;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    text-decoration: none;
    transition-duration: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  .confidential {
    text-decoration: underline;
    margin-bottom: 40px;
  }

  .designer {
    display: none;
  }
}