.header {
  padding-top: 25px;
  padding-bottom: 65px;
  background-image: linear-gradient(to right, #a044ff 0%, #6a3093 100%);
}

.container {
  position: relative;
  display: flex;
  margin-bottom: 10px;

  &-logo {
    display: block;
    @include link;
    font-family: "Open Sans - Extra Bold", sans-serif;
    font-size: 18px;
    letter-spacing: 0.9px;
  }

  .navigation {
    opacity: 0;
    max-width: 320px;
    width: 100%;
    position: fixed;
    right: 0;
    top: 70px;
    background-color: #fff;
    height: 500px;
    transform: translateX(1000px);
    z-index: 1111;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

    &-link {
      display: flex;
      @include link;
      opacity: 0.65;
      color: #333;
      font-family: "Open Sans - Semi Bold", sans-serif;
      font-size: 13px;
      line-height: 48px;
      letter-spacing: 0.65px;
      transition-duration: 1s;
      padding: 5px 15px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .navigation-active {
    opacity: 1;
    height: 550px;
    transform: translateX(0);
    box-shadow: 0 -80px 10px #6a3093;
  }

  .navigation-active .container-logo {
    display: block;
    color: #6a3093;
    padding: 15px 15px;
  }

  .nav-burger {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 0;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 1111;
    outline: none;

    &-item {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      transition: 0.5s linear;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 10;
        transition: 0.5s linear;
      }

      &::before {
        content: "";
        top: -7px;
      }

      &::after {
        content: "";
        bottom: -8px;
      }
    }
  }

.nav-burger.active {
  position: fixed;
  top: 20px;
  right: 20px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.nav-burger.active .nav-burger-item {
  background: none;
  right: -7px;

  &::before {
    transform-origin: left top;
    transform: rotate(45deg)
    translateX(-2px);
  }

  &::after {
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translateX(-3px);
  }
}

  .tel-box {
    padding-left: 15px;
    margin-top: 100px;

    &-link {
      @include link;
      display: block;
      color: #333;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
      margin-bottom: 30px;
    }

    &-btn {
      @include link;
      width: 165px;
      color: #fb0275;
      border-radius: 17px;
      border: 2px solid #fb0275;
      font-family: "Open Sans - Extra Bold", sans-serif;
      font-size: 11px;
      letter-spacing: 0.55px;
      background: transparent;
      cursor: pointer;
      padding: 7px 10px;
      transition-duration: 1s;

      &:hover {
        background-color: #fb0275;
        border: 2px solid #fb0275;
        color: #fff;
      }
    }
  }

  &-image {
    margin-bottom: 50px;

    &-header {
      display: block;
    }
  }

  &-text {
    margin-bottom: 45px;

    &-title {
      @include main;
      margin-top: $margin;
      margin-bottom: $margin;
      margin-bottom: 35px;
      max-width: 217px;
      font-family: "Muller Extra Bold", sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 1.06px;
    }

    &-under {
      @include main;
      margin-top: $margin;
      margin-bottom: $margin;
      opacity: 0.85;
      font-family: "Muller Medium", sans-serif;
      font-size: 21px;
    }
  }

  &-order {


    &-btn {
      width: 289px;
      @include button;
    }

    &-text {
      @include main;
      margin-top: $margin;
      margin-bottom: $margin;
      width: 210px;
      margin-top: 30px;
      opacity: 0.85;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
    }
  }
}

.button-down {
  position: relative;
  display: none;
  width: 19px;
  height: 31px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    height: 5px;
    border-radius: 1px;
    border-left: 1px solid #fff;
  }
}