* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

body.overflow::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 1, 1, 0.4);
  z-index: 111;
}

.wrapper {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}

$margin: 0;

@mixin link {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin main {
  color: #fff;
  font-weight: 400;
}

@mixin title {
  margin-bottom: 20px;
  color: #7f38bd;
  font-family: "Muller Bold", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

@mixin subtitle {
  margin-bottom: 30px;
  color: #383d52;
  font-family: "Muller Medium", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

@mixin text {
  margin-bottom: 30px;
  color: #5e606a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin button {
  border-radius: 24px;
  border: 2px solid #fb0275;
  background-color: #fb0275;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.57px;
  padding: 15px 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &:hover {
    border: 2px solid #fff;
    background-color: transparent; 
  }
}

@mixin bg-number {
  position: absolute;
  text-shadow: 0 0 21px rgba(81, 8, 86, 0.08);
  font-family: "Muller Heavy", sans-serif;
  font-size: 200px;
  font-weight: 400;
  left: 40px;
}

@mixin faq-title {
  margin-top: $margin;
  margin-bottom: 20px;
  color: #383d52;
  font-family: "Open Sans - Semi Bold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@mixin faq-text {
  margin-top: $margin;
  margin-bottom: $margin;
  color: #5e606a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin line-down {
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 80px;
    z-index: 10;
  }

  &::before {
    border-left: 2px solid #883eca;
    right: 50%;
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
    bottom: -15px;
  }

  &::after {
    border-right: 2px solid #883eca;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -60px;
  }
}